$bg-color: #fff9f1;

// font-size
$fs-xs: 12px;

$text-primary: #5C4A3D;
$text-muted: #8D7D6F;
$text-footer: #a08877; 

$accent-primary: #9fb8a6; 
$accent-secondary: #c5dccf;

$progress-bg: #d8d8d8;  
